@import '../../rwd-helpers.scss';
@import '../../colors.scss';

.input-wrapper {
  flex: auto;
  margin: auto 10px auto 10px;
  position: relative;
  @media (min-width: $bp-xxsmall) {
    width: between(200px, 350px, $bp-xxsmall, $bp-xlarge);
  }
  height: 30px;
  :focus {
    outline: none;
  }
  .input-control {
    background-color: transparent;
    color: transparent;
    z-index: -2;
  }
  input {
    line-height: 2px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    height: 100%;
    width: 100%;
    color: white;
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
  }

  .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399ff;
    transition: 0.4s;
  }
  .register-label {
    position: absolute;
    left: 0;
    width: 100%;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    @media (min-width: $bp-xxsmall) {
      font-size: between(18px, 16px, $bp-xxsmall, $bp-xlarge);
    }
  }
  input:focus ~ .focus-border,
  input.has-content ~ .focus-border {
    width: 100%;
    transition: 0.4s;
  }
  input:focus ~ .register-label,
  input.has-content ~ .register-label {
    top: -25px; //HOW HIGH THE .register-label RAISES UP
    font-size: 14px;
    color: #3399ff;
    transition: 0.3s;
  }
}
