@import '../../rwd-helpers.scss';
@import '../../colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster');

#login-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: $DARK_GREY;
  display: flex;
  justify-content: center;
  align-items: center;
  #login-card {
    z-index: 1;
    height: 500px;
    background-color: lighten($DARK_GREY, 10%);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
    h1 {
      font-size: 4rem;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      font-family: 'Lobster', cursive;
      margin-top: 0;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .input-wrapper {
        margin: 40px auto;
        input {
          position: relative;
          z-index: 9000;
        }
        .register-label {
          z-index: -1;
        }
      }
      button {
        font-size: 1.5rem;
        border: 2px solid lightgrey;
        text-transform: uppercase;
        width: 10rem;
        padding: 1rem 2rem;
        border-radius: 3px;
        color: lightgrey;
        transition-property: background, color, border;
        transition-duration: 0.5s;
        background: transparent;
        &:hover {
          transition-property: background, color, border;
          color: white;
          border: 2px solid $BESTBUY_BLUE;
          background: $BESTBUY_BLUE;
        }
      }
      a {
        @media (min-width: $bp-xxsmall) {
          font-size: between(14px, 16px, $bp-xxsmall, $bp-xlarge);
        }
        margin-top: 4%;
        text-decoration: none;
        color: lighten($BESTBUY_YELLOW, 20%);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
