@import '../../rwd-helpers.scss';
@import '../../colors.scss';

.hide {
  animation: fadeOut 0.5s;
  visibility: hidden;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.show {
  animation: fadeIn 1.0s, visibility 0.5s;
  visibility: visible;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#login-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: $DARK_GREY;
  display: flex;
  justify-content: center;
  align-items: center;
  #loading-container {
    left: 48%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: white;
      font-size: 16px;
      text-align: center;
    }
  }
  .test-credentials {
    box-shadow: 0px 0px 55px -2px rgba(0, 0, 0, 0.75);
    padding: 0.5rem;
    left: 50%;
    top: 91%;
    transform: translate(-50%, -50%);
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e5799;
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #316377 100%);
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0%, #1e5799),
      color-stop(100%, #316377)
    );
    background: -webkit-linear-gradient(-45deg, #1e5799 0%, #316377 100%);
    background: -o-linear-gradient(-45deg, #1e5799 0%, #316377 100%);
    background: -ms-linear-gradient(-45deg, #1e5799 0%, #316377 100%);
    background: linear-gradient(135deg, #1e5799 0%, #316377 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#1e5799',
        endColorstr='#316377',
        GradientType=1
      );
    border-radius: 2px;
    span {
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      margin-top: 1%;
      margin-bottom: 1%;
      @media (max-width: $bp-xlarge) {
        font-size: between(16px, 14px, $bp-xxsmall, $bp-xlarge);
      }
      color: white;
    }
  }
  .error-message {
    animation: fadeIn 1.5s, slideUp 1.5s;
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes slideUp {
      from {
        transform: translate(-50%, -10%);
      }
      to {
        transform: translate(-50%, -50%);
      }
    }

    padding: 0.5rem;
    background-color: darken(#ec6d75, 5%);
    border: 3px solid darken(#ec6d75, 10%);
    border-radius: 3px;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    position: absolute;
    p {
      color: white;
      text-align: center;
      font-size: 1.4rem;
    }
  }
  #login-card {
    @media (min-width: $bp-xxsmall) {
      width: between(300px, 600px, $bp-xxsmall, $bp-xlarge);
    }
    z-index: 1;
    background-color: lighten($DARK_GREY, 10%);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
    h1 {
      font-size: 4rem;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      font-family: 'Lobster', cursive;
      margin-top: 0;
      text-align: center;
      margin-bottom: 2%;
    }
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      p {
        color: lightgray;
      }
      .input-wrapper {
        margin: 30px auto;
        input {
          position: relative;
          z-index: 9000;
        }
        .register-label {
          z-index: -1;
        }
      }
      button {
        font-size: 1.5rem;
        border: 2px solid lightgrey;
        text-transform: uppercase;
        width: 10rem;
        padding: 1rem 2rem;
        border-radius: 3px;
        color: lightgrey;
        transition-property: background, color, border;
        transition-duration: 0.5s;
        background: transparent;
        &:hover {
          transition-property: background, color, border;
          color: white;
          border: 2px solid $BESTBUY_BLUE;
          background: $BESTBUY_BLUE;
        }
      }
      a {
        @media (min-width: $bp-xxsmall) {
          font-size: between(14px, 16px, $bp-xxsmall, $bp-xlarge);
        }
        margin-top: 6%;
        text-decoration: none;
        color: lighten($BESTBUY_YELLOW, 20%);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
