@import '../../colors.scss';
@import '../../rwd-helpers.scss';

#register-section {
  &:focus {
    outline: none;
  }
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #register-card {
    @media (min-width: $bp-xxsmall) {
      height: 90vh;
      width: between(320px, 1200px, $bp-xxsmall, $bp-xlarge);
    }
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 1;
    background-color: $DARK_GREY;
    width: 80vw;
    box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
    h1 {
      font-family: 'Lobster', cursive;
      letter-spacing: 2px;
      font-size: 4rem;
      margin-bottom: 0;
      display: block;
      order: 0;
      text-align: center;
      color: white;
    }
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      height: 100%;
      position: relative;
      @media (min-width: $bp-xxsmall) {
        padding: between(30px, 50px, $bp-xxsmall, $bp-xlarge);
      }
      button {
        position: absolute;
        bottom: 0;
        margin: 0 auto 10px auto;
        border: 2px solid lightgrey;
        text-transform: uppercase;
        padding: 1rem 8rem;
        font-size: 1.2rem;
        border-radius: 3px;
        color: lightgrey;
        transition-property: background, color, border;
        transition-duration: 0.5s;
        background: transparent;
        &:hover {
          transition-property: background, color, border;
          color: white;
          border: 2px solid $BESTBUY_YELLOW;
          background: $BESTBUY_YELLOW;
        }
      }
    }
  }
}
