@import '../../../colors.scss';
@import '../../../rwd-helpers.scss';

#about-section {
  min-height: 100vh;
  width: 100vw;
  background-color: $DARK_GREY;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #f2f2f2;
    text-align: center;
    margin: 2rem auto;
  }
  h1 {
    @media (min-width: $bp-xxsmall) {
      font-size: between(48px, 80px, $bp-xxsmall, $bp-xlarge);
    }
    font-family: 'Lobster', cursive;
    margin-bottom: 0.5rem;
    font-weight: 200;
  }
  blockquote {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.65);
    color: #f2f2f2;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.1rem;
    @media (min-width: $bp-xxsmall) {
      font-size: between(14px, 28px, $bp-xxsmall, $bp-xlarge);
    }
  }
  p {
    color: #f2f2f2;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.1rem;
    @media (min-width: $bp-xxsmall) {
      font-size: between(16px, 32px, $bp-xxsmall, $bp-xlarge);
      width: between(310px, 1536px, $bp-xxsmall, $bp-xlarge);
    }
  }
}
