@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;
  @return calc(#{$base} + #{100vw * $slope});
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// BREAKPOINTS
// - - - - - - - - - - - - - - - - - - - - - - - - -
$bp-xxsmall: 320px;
$bp-xsmall: 576px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;

$bp-small-rem: 48em; // 768px
$bp-medium-rem: 64em; // 1024px
$bp-large-rem: 85.375em; // 1366px
$bp-xlarge-rem: 120em; // 1920px
$bp-xxlarge-rem: 160em; // 2560px
