{
  "sourceMaps": true,
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 52",
            "FireFox >= 44",
            "Safari >= 7",
            "Explorer 11",
            "last 4 Edge versions"
          ]
        },
        "useBuiltIns": true
      }
    ],
    ["es2015", { "loose": true }],
    "stage-0"
  ],
  "ignore": ["node_modules"],
  "plugins": [["transform-react-jsx"], ["transform-decorators-legacy"]]
}
