@import '$homeDir/styles/rwd-helpers.scss';
@import '$homeDir/styles/colors.scss';

.how-card {
  @media (min-width: $bp-xxsmall) {
    width: between(150px, 400px, $bp-xxsmall, $bp-xlarge);
    height: between(210px, 600px, $bp-xxsmall, $bp-xlarge);
  }
  box-shadow: 0px 0px 55px -2px rgba(0, 0, 0, 0.75);
  margin: auto 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  img {
    margin: 0 auto;
    max-height: 25vh;
  }
  h3 {
    width: 100%;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    @media (min-width: $bp-xxsmall) {
      font-size: between(16px, 35px, $bp-xxsmall, $bp-xlarge);
    }
  }

  h5 {
    width: 100%;
    text-align: center;
    margin: 0;
    @media (min-width: $bp-xxsmall) {
      font-size: between(12px, 25px, $bp-xxsmall, $bp-xlarge);
    }
  }
}
