@import '$homeDir/styles/colors.scss';

#search-section {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  #last-time-saved {
    width: 220px;
    #loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        margin-top: 1px;
      }
    }
  }
  #upcInput {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 14px 28px;
    transition: 0.4s;
    background: transparent;
    &:focus {
      outline-color: transparent;
      border: 2px solid $BESTBUY_BLUE;
    }
  }
  #last-time-saved {
    height: 50px;
  }
  #last-item-scanned {
    height: 50px;
    p {
      margin: 0;
    }
    h6 {
      margin: 0;
    }
  }
}
