@import '$homeDir/styles/rwd-helpers.scss';
@import '$homeDir/styles/colors.scss';

@mixin FlashMessage($COLOR) {
  z-index: 99;
  animation: fadeIn 1.5s, slideUp 1.5s;
  z-index: 9999;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translate(-50%, -10%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }

  padding: 0.5rem;
  background-color: darken($COLOR, 5%);
  border: 3px solid darken($COLOR, 10%);
  border-radius: 3px;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
  position: absolute;
  p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }
}

.hide {
  animation: fadeOut 0.5s;
  visibility: hidden;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.show {
  animation: fadeIn 1s, visibility 0.5s;
  visibility: visible;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#forgot-password-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  #loading-container {
    left: 48%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: white;
      font-size: 16px;
      text-align: center;
    }
  }
  #forgot-password-card {
    border-top: 0.3rem solid $BESTBUY_BLUE;
    width: between(300px, 450px, $bp-xxsmall, $bp-xlarge);
    padding: between(0, 16px, $bp-xxsmall, $bp-xlarge);
    form {
      padding-bottom: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .input-wrapper {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
