@import '../../../colors.scss';
@import '../../../rwd-helpers.scss';

#about-section {
  height: 100vh;
  width: 100vw;
  background-color: $DARK_GREY;
  display: flex;
  flex-direction: column;
  h1,
  h3 {
    color: white;
    text-align: center;
    margin: 2rem auto;
  }
  h1 {
    @media (min-width: $bp-xxsmall) {
      font-size: between(55px, 120px, $bp-xxsmall, $bp-xlarge);
    }
    font-weight: 200;
  }
  h3 {
    margin-bottom: 0;
    font-weight: 400;
    @media (min-width: $bp-xxsmall) {
      font-size: between(16px, 45px, $bp-xxsmall, $bp-xlarge);
      width: between(310px, 1536px, $bp-xxsmall, $bp-xlarge);
    }
  }
}
