@import '../../../colors.scss';
@import '../../../rwd-helpers.scss';

footer {
  width: 100vw;
  background-color: $BESTBUY_BLUE;
  padding: auto 50px;
  ul {
    padding-top: 1%;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    li {
      @media (min-width: $bp-xxsmall) {
        margin-top: between(9px, 12px, $bp-xxsmall, $bp-xlarge);
        margin-bottom: between(9px, 12px, $bp-xxsmall, $bp-xlarge);
      }
      list-style: none;
      padding-left: 0;
      a {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none;
        color: white;
        transition-property: color;
        transition-duration: 0.5s;
        &:hover {
          transition-property: color;
          color: $BESTBUY_YELLOW;
        }
      }
    }
  }
}
