@import '../../../colors.scss';

footer {
  width: 100vw;
  background-color: $DARK_GREY;
  ul {
    margin-top: 0;
    li {
      list-style: none;
      padding-left: 0;
      a {
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      }
    }
  }
}
