@import '../../../colors.scss';
@import '../../../rwd-helpers.scss';

#hero-atf {
  width: 100vw;
  height: 220vh;
  position: relative;
  overflow: hidden;
  background-color: $BESTBUY_BLUE;
  .button-container {
    @media (max-width: $bp-small) {
      height: auto;
      width: 100vw;
      flex-direction: row;
      justify-content: space-around;
      display: flex;
    }
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    height: 200px;
    #btn-signup,
    #btn-signin {
      @media (max-width: $bp-small) {
        margin-right: 0;
      }
      border: 2px solid lightgrey;
      text-transform: uppercase;
      width: 10rem;
      padding: 1rem 1rem;
      margin-top: 3rem;
      margin-right: 2rem;
      border-radius: 3px;
      color: lightgrey;
      transition-property: background, color, border;
      transition-duration: 0.5s;
      background: transparent;
      &:hover {
        transition-property: background, color, border;
        color: white;
        border: 2px solid $BESTBUY_BLUE;
        background: $BESTBUY_BLUE;
      }
    }
  }
  .hero-img {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      ),
      url('../../../static/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 49%, 0 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hero-content {
    font-style: italic;
    z-index: 420;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    h1 {
      letter-spacing: 2px;
      @media (min-width: $bp-xxsmall) {
        font-size: between(55px, 120px, $bp-xxsmall, $bp-xlarge);
      }
      font-size: 6.5rem;
      margin-bottom: 10px;
      color: white;
    }
    h3 {
      color: white;
      a {
        color: darken(white, 20%);
        text-decoration: none;
      }
    }
  }
  .mock-app {
    position: absolute;
    z-index: 300px;
    background-color: white;
    border: 1px solid grey;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(85% - 20px);
    height: calc((85vw - 20px) * 0.5625);
  }
}
