.how-card {
  width: 25vh;
  height: 80%;
  margin: auto 0;
  background-color: white;
  display: block;
  img {
    display: block;
    margin: 0 auto;
    height: 25vh;
  }
  h3 {
    text-transform: uppercase;
  }
  h3,
  h5 {
    text-align: center;
    margin: 0;
  }
}
