@import '../../colors.scss';
$colors: #f2385a, #f5a503, #e9f1df, #56d9cd, #3aa1bf;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1)+$dash-gap * $max;
$time: 6s;
$time-step: $time/$max;
/* Main styles */
#root .card {
  background-color: $DARK_GREY;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
/* Other styles */

text {
  background: #111;
  background-size: .2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

button#safety {
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 50px;
  width: 260px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: 2px solid #f2385a;
  background: transparent;
  color: #f2385a;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition-property: background, color, border;
  transition-duration: 0.2s;
  &:hover {
    color: white;
    background: #f2385a;
    transition-property: background, color, border;
  }
}
