@import '$homeDir/styles/rwd-helpers.scss';
@import '$homeDir/styles/colors.scss';

.input-wrapper {
  flex: auto;
  position: relative;

  .error-span {
    color: darken(#ec6d75, 10%);
  }

  input {
    line-height: 2px;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(51, 51, 51);
    border: 1px solid #e4e4e4;
    background-color: #fff;
    padding: 0.5rem;
    &:focus {
      outline: 1px solid $BESTBUY_BLUE;
    }
  }

  label {
    display: block;
    color: #aaa;
    width: auto;
    letter-spacing: 0.5px;
  }
}
