@import '$homeDir/styles/rwd-helpers.scss';
@import '$homeDir/styles/colors.scss';

@mixin FlashMessage($COLOR) {
  z-index: 999999999999;
  animation: fadeIn 1.5s, slideUp 1.5s;
  z-index: 9999;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translate(-50%, -10%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }

  padding: 0.5rem;
  background-color: darken($COLOR, 5%);
  border: 3px solid darken($COLOR, 10%);
  border-radius: 3px;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
  p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }
}

.hide {
  animation: fadeOut 0.5s;
  visibility: hidden;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.show {
  animation: fadeIn 1s, visibility 0.5s;
  visibility: visible;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#register-section {
  #loading-container {
    left: 48%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: white;
      font-size: 16px;
      text-align: center;
    }
  }
  &:focus {
    outline: none;
  }
  width: 100vw;
  height: 100vh;
  background-color: $DARK_GREY;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .error-message {
    @include FlashMessage(#ec6d75);
  }
  .success-message {
    @include FlashMessage(#4cb963);
  }
  #register-card {
    @media (max-width: $bp-medium) {
      min-width: 89vw;
    }
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 1;
    background-color: lighten($DARK_GREY, 10%);
    box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
    h1 {
      letter-spacing: 2px;
      font-size: 4rem;
      margin-bottom: 0;
      text-align: center;
      color: white;
    }
    form {
      @supports (display: grid) {
        display: grid;
        grid-row-gap: 2.4rem;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
        grid-auto-flow: dense;
      }
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
      height: 100%;
      padding: 2em;
      .input-wrapper {
        width: 90%;
        margin: 5% auto;
        align-self: center;
        @media (max-width: $bp-medium) {
          grid-column: auto / span 2;
          -ms-grid-column: auto;
          -ms-grid-column-span: 2;
        }
      }
      #firstName {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }
      #lastName {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
      #storeNumber {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
      #employeeNumber {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }
      #password {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }
      #confirmPassword {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
      }
      button {
        -ms-grid-row: 4;
        -ms-grid-column-align: center;
        -ms-grid-column: auto;
        -ms-grid-column-span: 2;
        grid-column: auto / span 2;
        justify-self: center;
        align-self: center;
        border: 2px solid lightgrey;
        text-transform: uppercase;
        width: 11rem;
        height: 3.5rem;
        font-size: 1.2rem;
        border-radius: 3px;
        color: lightgrey;
        transition-property: background, color, border;
        transition-duration: 0.5s;
        background: transparent;
        margin: 0 auto;
        &:hover {
          transition-property: background, color, border;
          color: white;
          border: 2px solid $BESTBUY_YELLOW;
          background: $BESTBUY_YELLOW;
        }
      }
    }
  }
}
