@import '../colors.scss';

#dashboard-header {
  display: flex;
  background-color: $BESTBUY_BLUE;
  justify-content: space-between;
  h1 {
    font-weight: 100;
    color: white;
    margin-left: 7%;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    border-top: 0;
    border-right: 4px solid $BESTBUY_YELLOW;
    border-bottom: 0;
    border-left: 0;
    height: 100%;
    transition-property: background, color, border;
    transition-duration: 0.5s;
    background: transparent;
    &:hover {
      transition-property: background, color, border;
      color: white;
      background: $BESTBUY_YELLOW;
    }
    img {
      height: 60px;
    }
    p {
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 0;
    }
  }
}
