@import '../colors.scss';

#search-section {
  display: flex;
  justify-content: center;
  padding: 30px;
  #upcInput {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 14px 28px;
    transition: 0.4s;
    background: transparent;
    &:focus {
      outline-color: transparent;
      border: 2px solid $BESTBUY_BLUE;
    }
  }
}
