@import '../../rwd-helpers.scss';
@import '../../colors.scss';

@mixin FlashMessage($COLOR) {
  z-index: 999999999999;
  animation: fadeIn 1.5s, slideUp 1.5s;
  z-index: 9999;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translate(-50%, -10%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }

  padding: 0.5rem;
  background-color: darken($COLOR, 5%);
  border: 3px solid darken($COLOR, 10%);
  border-radius: 3px;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
  position: absolute;
  p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }
}

.hide {
  animation: fadeOut 0.5s;
  visibility: hidden;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.show {
  animation: fadeIn 1s, visibility 0.5s;
  visibility: visible;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

#forgot-password-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: $DARK_GREY;
  display: flex;
  align-items: center;
  justify-content: center;
  #loading-container {
    left: 48%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: white;
      font-size: 16px;
      text-align: center;
    }
  }
  #forgot-password-card {
    @media (min-width: $bp-xxsmall) {
      width: between(300px, 560px, $bp-xxsmall, $bp-xlarge);
    }
    z-index: 1;
    padding: 30px;
    background-color: lighten($DARK_GREY, 10%);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
    h1 {
      font-size: 4rem;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      font-family: 'Lobster', cursive;
      margin-top: 0;
      text-align: center;
    }
    .error-message {
      @include FlashMessage(#ec6d75);
    }
    .success-message {
      @include FlashMessage(#4CB963);
    }
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .input-wrapper {
        width: 95%;
        margin: 10% auto;
        input {
          z-index: 9999;
          position: relative;
        }
        .register-label {
          z-index: -1;
        }
      }
      button {
        margin-top: 5%;
        font-size: 1rem;
        border: 2px solid lightgrey;
        text-transform: uppercase;
        padding: 1rem 2rem;
        border-radius: 3px;
        color: lightgrey;
        transition-property: background, color, border;
        transition-duration: 0.5s;
        background: transparent;
        &:hover {
          transition-property: background, color, border;
          color: white;
          border: 2px solid $BESTBUY_BLUE;
          background: $BESTBUY_BLUE;
        }
      }
    }
  }
}
