@import '../../colors.scss';
@mixin size($width , $height: $width ) {
  width: $width;
  height: $height;
}

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

.hide {
  animation: fadeOut 0.5s;
  visibility: hidden;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.show {
  animation: fadeIn 1s, visibility 0.5s;
  visibility: visible;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.loader {
  display: inline-block;
  position: relative;
  @include size(50px);
  vertical-align: middle;
}

.loader-circles {
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: $BESTBUY_BLUE;
  animation: spin 1s linear infinite;
  &:after {
    content: '';
    @include absPosition(5px, 5px, 5px, 5px);
    border-radius: 50px;
    border: 4px solid transparent;
    border-top-color: $BESTBUY_YELLOW;
    opacity: 0.8;
    animation: spinreverse 5s linear infinite;
  }
  &:before {
    /* INNERMOST */
    content: '';
    @include absPosition(5px, 5px, 5px, 5px);
    border-radius: 50px;
    border: 4px solid transparent;
    border-top-color: darken(#f2f2f2, 10%);
    opacity: 0.8;
    animation: spinreverse 5s linear infinite;
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    animation: spinreverse 10s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
