@import '../../rwd-helpers.scss';
@import '../../colors.scss';

#reset-password-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: $DARK_GREY;
  display: flex;
  align-items: center;
  justify-content: center;
  #reset-password-card {
    @media (min-width: $bp-xxsmall) {
      width: between(300px, 560px, $bp-xxsmall, $bp-xlarge);
    }
    z-index: 1;
    padding: 30px;
    background-color: lighten($DARK_GREY, 10%);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0px 0px 48px -2px rgba(0, 0, 0, 0.75);
    h1 {
      font-size: 4rem;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      font-family: 'Lobster', cursive;
      margin-top: 0;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .input-wrapper {
        width: 100%;
        margin: 10% auto;
        input {
          z-index: 9999;
          position: relative;
        }
        .register-label {
          z-index: -1;
        }
      }
      button {
        margin-top: 5%;
        font-size: 1rem;
        border: 2px solid lightgrey;
        text-transform: uppercase;
        padding: 1rem 2rem;
        border-radius: 3px;
        color: lightgrey;
        transition-property: background, color, border;
        transition-duration: 0.5s;
        background: transparent;
        &:hover {
          transition-property: background, color, border;
          color: white;
          border: 2px solid $BESTBUY_BLUE;
          background: $BESTBUY_BLUE;
        }
      }
    }
  }
}
